* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #999;
}

body {
    min-height: 100vh;
    font-size: 14px;
    background: url(./images/bk.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    background-color: #fff;
    padding: 32px 48px;
    max-width: 480px;
    border-radius: 4px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: #3ca5dd;
    text-transform: capitalize;
    font-size: 1.7em;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 32px;
}

.images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.img-item {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-item img {
    width: 100%;
}

.img-item p {
    color: #333;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 0.7px;
}

.img-item i {
    display: none;
}

.img-item.selected i {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #3ca5dd;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}

.img-item.selected {
    border: 2px solid #3ca2dd;
}

.welcome-message {
    text-align: center;
    font-size: 0.9em;
    line-height: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 30px auto;
}

form {
    width: 100%;
    padding: 0 8px;
}

.form-control {
    width: 100%;
    position: relative;
    margin-bottom: 16px;
}

.form-control input {
    width: 100%;
    padding: 10px 24px;
    background: none;
    border: 1px solid #bbb;
    border-radius: 4px;
    color: #333;
    outline: none;

    padding-left: 48px;
    letter-spacing: 0.7px;
    font-size: 1.1em;
}

.form-control input:focus {
    border-color: #3ca5dd;
}

.form-control i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 1.1em;
    transition: color 0.3s;
}

.form-control input:focus~i {
    color: #3ca2dd;
}

.forgot-password {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.9em;
    padding: 8px 16px;
    border-left: 1px solid #bbb;
    cursor: pointer;
    color: #3ca2dd;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 8px;
    font-weight: bold;
}

.actions span {
    color: #3ca2dd;
    cursor: pointer;
}

button.submit {
    text-transform: uppercase;
    background-color: #209bdd;
    color: #fff;
    border: none;
    outline: none;
    padding: 8px 20px;
    border-radius: 4px;
    letter-spacing: 1.5px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s;
}

button.submit:hover {
    opacity: 0.85;
}